body{
    margin: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: lightblue;
}

nav{
    background-color: darkblue;
    padding: 15px;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 18px;
}

.nav-link {
    transition: color 0.4 ease;
}

.nav-link:hover, .nav-link.active {
    color:teal
}

header{
    text-align: center;
    padding: 80px 20px;
    background-color: blue;
    color: white;
}

header h1{
    font-size: 50px;
}

header h2{
    font-size: 25px;
    font-weight: normal;
}

section{
    padding: 40px;
    text-align: center;
}

.box-link{
    text-decoration: none;
    color: black;
    display: block;
    width: 80%;
    margin: 20px auto;
}

.box{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.box:hover{
    background-color: lightgrey;
    transform: scale(1.03);
}

footer{
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 15px;
}